  @font-face{
    font-family:"Raleway";                                                                        /*menu*/
    src:url("Raleway/static/Raleway-Medium.ttf");                                                 /*en tete*/
    }                                                                                             /*recherche et filtres l.75*/
                                                                                                 /* hebergement l.201*/
body{                                                                                               /*activites l.344*/
     font-family: "Raleway" ,Arial,serif;                                                           /*icone l.464*/
    height:auto;                                                                                  
     width:100%;
     margin: 0px;
     padding:0px;
     }
#blocpage{
 
    
    width: 1440px;
    margin:auto;

}
.entete{
    width: auto;
    display:flex;
    justify-content: space-between;
   
}
#logo{
    margin-left:20px;
 width:120px;
}

 h2{
  margin-left: 30px;
 }
 .div1 {
    display:flex;
    flex-direction:row-reverse ;
    margin-top: 25px;
    font-size : 17px;  
}
 nav{
  margin:0 90px 0 0;
 }
nav ul {
    display:flex;
    list-style-type: none;
    width: 100%;   
}

nav li { 
    padding-right: 20px;
    padding-top: 10px; 
    padding-left: 20px;
    border-top: solid white;
}

nav a {
    text-decoration: none; 
}

nav a:visited {
    color: gray;
}

nav li:hover {
    color: #0065FC;
    border-top: solid #0065FC;
}

nav a:hover {
    color: #0065FC;
}
#inscri {
    color: #0065FC;
    margin-top: 25px;
    margin-right :70px;
    margin-left: 10px;
    text-decoration: none;
    border-top: solid white;
    font-weight: bold;
}



 
 /*fin du com précédent*/
 
 h1{
  font-size:20px;
 }
 #iconerech{
   height:56px;
   min-width: 50px;
   border-radius:25% 0 0 25%;
   background-color:#F2F2F2;
 }
 #recherche{
    height:100px;
    margin-left: 30px;
 }
 strong{
    font-size:25px;
 }
 #input2 {
    font-weight: bold;
    background-color: #0065FC;
    border: none;
    color: white;                                          /*stylisation du bouton*/
    width: 140px;
    height:50px;
    font-size: 18px;
    border-left: none;
    border-bottom-right-radius: 22px;
    border-top-right-radius: 22px;
}
 
 .iconeloupe{
  display:none;
 }

  
 #maRecherche{
    width:233px;
    height:50px;
    padding-left: 15px;                         /*modification du champ de recherche*/
    border:none;
    font-weight: bold;
    font-size: 20px;
 }
 form{
  display:flex;
  align-items: center;
  margin-left: 30px;
  }
 /*Partie filtre*/
 #filtres{
    display:flex;
    width: auto;
    margin-top:30px;
    margin-left: 35px;
    margin-bottom: 30px;
    
 }
 .filt{
  font-weight: bolder;
 }
 #testfil{
  flex-wrap: wrap;
  width:auto;
  display:flex;
  height:auto;
 }
 button {
    font-family:'Raleway';
    height: 44px;
    font-size: 60%;
    font-weight: bolder;
    background-color: white;
    border-color:#F2F2F2;
    border-style:solid;
    border-radius: 25px;
    width: auto;
    padding-right: 20px;
    display: flex;
    align-items: center;
    margin:0 5px 0 10px;
 }
 button span {
  font-size: 18px;
    font-weight: bolder;
}
 button:hover{
  background-color: #0065FC;
  color:white;
 }
 #info{
     display: flex;
  margin-left:30px;
  margin-top: 30px;
 }
 
 /*Fin partie filtres*/
 
 /*Partie hebergement*/

#hebergements{
    display:flex;
    width:100%;
    height:750px;
    margin-bottom: 25px ;
    
    
}

.heberg{
    display:flex;
flex-direction: column;
  margin:20px 40px 0px 30px;
   height:auto;
    width: 850px;
    background-color: #F2F2F2;
    border-radius: 10px;
    
}
.contenairepopu{
 display: flex;
 flex-direction: column;
 margin-top:80px;
}

.heberg h2{
 margin-left: 50px;
}
.heberg a{
 text-decoration: none;
 color:black;
}

.imgheb{
 margin:15px 0px 15px 0px;
height:220px;
 width:236px;
 padding:5px 5px 0 5px;
 border-radius:25px;
 background-color: white;
}
.heberg img{
 width:100%;
 height:114px;
 object-fit: cover;
 border-radius: 25px 25px 0px 0px;
}
.popu{
    display:flex;
    flex-direction: column;
    
    margin-top:20px ;
    padding: 0 30px 0 30px;
       height:auto;
    background-color: #F2F2F2;
    border-radius: 10px;
}
.popu h2{
 margin-left: 0px;
 display:flex;
 justify-content: space-between;
}
.popu img{
 height: 100%;
 width:127px;
 object-fit: cover;
 border-radius: 25px 0px 0px 25px;
}

.legpop{
 margin-bottom: 50px;
 height: 144px;
 border-radius:25px;
 background-color:white;
}

.legpop p{
 margin-left:150px;
 margin-top: 20px;
}
.popu a{
 color:black;
 text-decoration: none;
}
.popu p{
 width:175px;
 height:120px;
 margin-top:-130px;
}
 
 
.fondpage1{
 display: flex;
justify-content: space-around;
flex-wrap: wrap;
    margin:60px 40px 0px 30px;
}
.fondpage1 h2{
 margin-left: 50px;
}
.fondpage h2{
 margin-left:40px;
}
#activites h2{
 margin-left:30px;
}
.fondpage{
    height:627px;
    width: auto;
    background-color: #F2F2F2;
    border-radius: 10px;
    margin:60px 30px 0px 20px;
}
.aff{
    font-weight: bold;
  margin-left:40px;
  }


.stars{
 
 margin-left: 10px;
}
.stars:hover .fa-star {                     /*toutes les etoiles en bleues*/
		color: #0065FC;
	}
 .stars .fa-star:hover ~ .fa-star {         /*au survol souris toutes les etoiles apres la selectionnee sont en grises*/
		color: gray;
	}
 
 /*fin partie hebergement*/
 /*partie activites*/
#activites{
   width: 100%;
    height:560px;
    margin-bottom: 57px;
    
}

#acti{
    justify-content: space-around;
    width:1280px;
    display:flex;
    margin-left:20px;
        
}
#acti img{
 border-radius:25px 25px 0 0;
}
#acti p{
 height:40px;
 font-weight: bold;
margin-left:10px;
}
#acti a{
 text-decoration:none;
 color:black;
}
.legresp{
 width:304px;
}

.legacti{
 height:450px;
 margin-top:30px;
 box-shadow: 5px 5px 5px #F2F2F2;
 border-radius: 25px;
}
.legacti img{
 height: 387px;
 width:304px;
 object-fit: cover;
}
#legacti1{
 height:230px;
 margin-top:30px;
 
 box-shadow: 5px 5px 5px #F2F2F2;
 border-radius: 15px;
}
#legacti1 img{
 width:100%;
 height:178px;
 object-fit: cover;
}
#legacti2{
 height:160px;
  margin-top:55px;
 
 box-shadow: 5px 5px 5px #F2F2F2;
 border-radius:15px;
}
#legacti2 img{
 width:100%;
 height:109px;
 object-fit: cover;
}
#legacti3{
 height:200px;
  margin-top:50px;
  box-shadow: 5px 5px 5px #F2F2F2;
 border-radius: 15px;
}
#legacti3 img{
 width:100%;
 height:139px;
 object-fit: cover;
}


#legacti4{
 height:200px;
 margin-top:30px;
  box-shadow: 5px 5px 5px #F2F2F2;
 border-radius: 15px;
}
#legacti4 img{
 width:100%;
 height:153px;
 object-fit: cover;
}
/*fin partie acttvite*/

footer{
    width: auto;
    background-color: #F2F2F2;
}
#piedpage{
     
    display:flex;
    margin-left: 50px;
    

}

.foot{
    line-height: 2em;
}

.baspage:nth-child(1) {
    width: auto;
    margin-right: 50px;
    flex:1;
    margin-left: 50px;
    }
    .baspage:nth-child(2) {
    width: auto;
    margin-right: 50px;
    flex:1;
    margin-left: 50px;
    }
    .baspage:nth-child(3) {
    width: auto;
    margin-right: 50px;
    flex:1;
    margin-left: 50px;
    }
/*Icones:*/

.fa-map-marker-alt{
 position:relative;
 top:13px;
 left:17px;
 font-size: 25px;
   
}
    
 .fa-money-bill-wave {
		border-radius: 25px;
		background-color:#DEEBFF ;
		color: #0065FC;
  font-size:  20px;
    padding: 12px;
    margin: 0px 19px 0px -6px; 
	}
 
   .fa-child {
		font-size: 20px;
		border-radius: 25px;
		background-color:#DEEBFF ;
		color: #0065FC;
  padding: 12px;
  margin: 0px 19px 0px -6px; 
	}
 
 .fa-heart {
		font-size: 20px;
		border-radius: 25px;
  padding: 12px;
  margin: 0px 19px 0px -6px; 
		background-color:#DEEBFF ;
		color: #0065FC;
	}
 
 .fa-dog {
		font-size: 20px;
		border-radius: 25px;
  padding: 12px;
  margin: 0px 19px 0px -6px;
  background-color:#DEEBFF ;
		color: #0065FC;
  
	}
 .fa-star {
	color: gray;                            /*couleur par defaut des ciones en grises*/
	cursor: pointer;
	padding: 0.0625rem;
}
   .fa-star.gold {
	color: #0065FC;                          /*etoiles en bleues*/
}
.fa-info {
    border-radius: 25px;
    background-color:white;
    color: #0065FC;
    font-size: 14px;
    padding: 12px;
    margin: 7px 19px 0px -6px;
    width: 6px;
    height: 9px;
    border:1px solid #DEEBFF;

 
 
 








 
 
 
 
 

 
 
    




