
body{
 
 
    height:1880px;
    width: 1440px;
    margin:auto;
    font-family:Raleway, serif;
   
}
.logo {
    
    margin-top: 20px;
}
#logo{
 width:200%;
}


.entete{
    display:flex;
    height:120px;                               
    margin-bottom: 50px;
    font-size: 100%;
}


.hébé{
    margin-left:1000px;
    margin-right: 10px;
    font-weight: bold;
                               /* stylisation  du menu de navigation*/    
    color:#0065FC;
    
    
}

/* dans la suit:stylisation des liens*/
a:visited{                                              
    color:#0065FC;                                                      
}

.entete a{
    display:inline-block;
    text-decoration:none;
    font-weight: bold;

}
.entete  a{
    padding:20px 20px;
}

 .hébé:hover{
    border-top: 2px solid #0065FC;
    
 }
 .acti:hover{
    border-top: 2px solid #0065FC;
 }
 .inscri:hover{
    border-top: 2px solid #0065FC;
 }
 
 /*fin du com précédent*/
 #iconerech{
   height:56px;
   width: 50px;
   border-radius:25% 0 0 25%;
   background-color:#F2F2F2;
 }
 #recherche{
    height:100px;
 }
 strong{
    font-size:25px;
 }
 #bouton{
    background-color: #0065FC;
    font-family: Raleway, serif;
    font-weight: bold;
    color:white;                                    /*stylisation du bouton*/
    font-size: 20px;
    width:130px;
    height:56px;
    border-radius:0px 10px 10px 0px;
    margin-top:-2px;
    margin-left:-2px;
 }
 #maRecherche{
    width:233px;
    height:50px;
    padding-left: 15px;                         /*modification du champ de recherche*/
    border:none;
    font-weight: bold;
    font-size: 20px;
 }
 form{
  display:flex;
  align-items: center;
 }
 
 #filtres{
    display:flex;
    width: 1150px;
    margin-top:30px;
    margin-left:35px;
    margin-bottom: 30px;
    
 }
 #testfil{
  display:flex;
  height:40px;
 }
 #ecoresp{
    
    width: 194px;
    font-size: 20px;
    font-weight: bold;
    border-radius:20px;
    border:3px solid #F2F2F2;
    border-left: none;
    margin-right:30px;
        
 }
 #famresp{
    width:152px;
    font-size:20px;
    font-weight: bold;
    border-radius:20px;
    border:3px solid #F2F2F2;
    border-left: none;
    margin-right:30px;
 }
 #romresp{
     width: 184px;
    font-size:20px;
    font-weight: bold;
    border-radius:20px;
    border:3px solid #F2F2F2;
    border-left: none;
    margin-right:30px;
 }
 #aniresp{
     width:242px;
    font-size:20px;
    font-weight: bold;
    border-radius:20px;
    border:3px solid #F2F2F2;
    border-left: none;
    margin-right:30px;
 }
 .ali{
  padding-left:15px;
 }
 .ali2{
  padding-left:15px;
 }
 .ali3{
  padding-left:15px;
 }
 .ali4{
  padding-left:10px;
 }
.filt{
    margin-top: 10px;
    margin-right: 40px;
    font-size: 20px;
    font-weight: bold;
    
 }
 .filtre:hover{
  background-color: #0065FC;
  color:white;
 }
 #info{
  margin-top: 30px;
 }
 h2{
  margin-left: 30px;
  margin-bottom: 0px;
 }
#hebergements{
    display:flex;
    height:750px;
    margin-bottom: 130px ;
    margin-left: 30px;
    
    
}

#hébé{
    display:flex;
    width:920px;
    flex-wrap: wrap;
    margin:30px 30px 0px 0px;
    
}

#popu{
    display:flex;
    justify-content: center;
    width:345px;
    flex-wrap: wrap;
    margin-top:12px ;
    
}
.imgheb{
     background-color: white;
     height:199px;
     width:236px;
     margin:30px;
     padding:5px;
     border-radius:10px;
     
          
}
#hébé img{
 border-radius: 5px 5px 0px 0px;
}
#acti img{
 border-radius:5px 5px 0 0;
}
#popu img{
 border-radius: 5px 0px 0px 5px;
}
.imgpop{
     
     display:flex;
     align-items: center;
     background-color: white;
     height:144px;
     width:343px;
     margin:30px 30px 25px 40px;
     padding-left: 5px;
     border-radius: 10px;
}
#popu figcaption{
      margin:5px;
}
#hébé figcaption{
     margin:5px;
}

 
 
.fondpage1{
    width: 920px;
    padding:10px;
    background-color: #F2F2F2;
    border-radius: 10px;
    margin:30px 30px 0px 0px;
}
.fondpage{
    width: 420px;
    padding:10px;
    background-color: #F2F2F2;
    border-radius: 10px;
    margin:30px 30px 0px 0px;
}
.aff{
    font-weight: bold;
    margin-top:42px;
    margin-left:35px;
}
.yellow-star{
 color:yellow;
 font-size: 150%;
}
#activites{
   
    height:560px;
    
    margin-bottom: 57px;
    
}
#acti{
    display:flex;
    height:100%;
    
}
.act{
    height:444px;
    border-radius: 10px;
    box-shadow:5px 5px 5px #F2F2F2;
    margin-right:22px;
    margin-left:22px;
    
 
}
#act2{
    
    height:235px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #F2F2F2;
    margin-bottom: 44px ;
}
#act3{
    height:164px;
    border-radius:10px;
    box-shadow: 5px 5px 5px #F2F2F2;
}
#act4{
    height: 194px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #F2F2F2;
    margin-bottom: 41px;
}
#act5{
    height:209px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #F2F2F2;
}
#acti figcaption{
   margin:5px;
   font-weight: bold;
}



footer{
    width: 1440px;
    background-color: #F2F2F2;
}
#piedpage{
     
    display:flex;
    height:100%;
    margin-left: 50px;
    
    
}

.baspage:nth-child(1){
    flex:1;
}
.baspage:nth-child(2){
    flex:1;
}
.baspage:nth-child(3){
    flex:2;
}
.foot{
    line-height: 2em;
}


/*Icones:*/

.fa-map-marker-alt{
 position:relative;
 top:30%;
 left:35%;
   font-size: 25px;
   
}
    
 .fa-money-bill-wave {
		font-size: 25px;
		border-radius: 50%;
		padding: 5px;
		background-color:#DEEBFF ;
		color: #0065FC;
	}
 
   .fa-child {
		font-size: 25px;
		border-radius: 50%;
		padding: 5px;
		background-color:#DEEBFF ;
		color: #0065FC;
	}
 
 .fa-heart {
		font-size: 25px;
		border-radius: 50%;
		padding: 5px;
		background-color:#DEEBFF ;
		color: #0065FC;
	}
 
 .fa-dog {
		font-size: 25px;
		border-radius: 50%;
		padding: 5px;
		background-color:#DEEBFF ;
		color: #0065FC;
  
	}
 
   
.fa-info {

		font-size: 12px;
		border-radius: 50%;
		border: 1px solid #F2F2F2;
		padding: 5px;
		color: #0065FC;
  margin-right: 20px;
  margin-left:30px;
	}
 
 .fa-chart-line{
  position:relative;
  top:-20px;
  left:295px;
 }
 
 /**responsive**/

@media all and (max-width:767px){
 #blocpage{
  width:auto;
  margin:auto;
}

.entete{
 width:auto;
 height:150px;
 display:flex; 
}
#logo{
 width:150%;
 }
.logo{
position:absolute;
top:20px;
align-self: flex-start;
}
.hébé{
 font-size: 130%;
 margin-right: 30px;
 align-self: flex-end;
}
.hébé a{
position:absolute;
top:130px;
right:45%;
}
.acti{
font-size: 130%;
 align-self: flex-end;
 
}
.acti a{
 position:absolute;
 top:130px;
 right:10%;
 }

.inscri{
 font-size: 140%;
 margin-top:50px; 
 align-self: flex-start;

}
.inscri a{
 position:absolute;
 top:45px;
 right:0;

}
.hébé:hover a{
 border-top:none;
 border-bottom: 2px solid #0065FC;
}
.acti:hover a{
 border-top:none;
 border-bottom: 2px solid #0065FC;
}
#recherche p{
 position:absolute;
 top:19%;
 left:2%;
 width:390px;
 padding:10px;
 
 word-wrap: break-word;
 }

 #filtres {
  flex-direction: column;
  width:400px;
  margin-left:0;
  margin-bottom:50px;
  
  
  }
  .filt{
   width:auto;
   margin:10px;
  }
  #testfil{
   margin-bottom: 50px;
   flex-wrap: wrap;
  }
  #ecoresp{
    width: 177px;
    font-size:18px;
    font-weight: bold;
    border-radius:20px;
    border:3px solid #F2F2F2;
    border-left: none;
    margin-right:15px;
    margin-bottom: 15px;
    }
    #famresp{
     width: 140px;
    font-size:18px;
    font-weight: bold;
    border-radius:20px;
    border:3px solid #F2F2F2;
    border-left: none;
    margin-right:15px;
    margin-bottom:15px;
    }
    #romresp{
    width: 169px;
    font-size:18px;
    font-weight: bold;
    border-radius:20px;
    border:3px solid #F2F2F2;
    border-left: none;
    margin-right:15px;
    margin-bottom: 15px;
    }
    #aniresp{
    width: 220px;
    font-size:18px;
    font-weight: bold;
    border-radius:20px;
    border:3px solid #F2F2F2;
    border-left: none;
    margin-right:15px;
    margin-bottom: 15px;
    }
    #info{
     margin-top:75px
    }
  #hebergements{
  margin-top:1850px;
  margin-left:0px;
  flex-direction: column-reverse;
 }
  #hébé{
  flex-direction: column;
  margin-left:10px;
  
 }
  #activites{
   
   margin-left:10px;
   margin-bottom: 1350px;
  }
  #acti{
      flex-direction: column;
      
      margin-top:50px;
      
  }
  .fondpage{
   width:auto;
  }
  .fondpage1{
   
    width:auto;
    padding:10px;
    background-color:white;
    border-radius: 10px;
  }
 .act{
  height:auto;
  width:334px;
  margin-left:40px;
 }

#piedpage{
  flex-direction:column;
 }
}

 
 
 
 
 

 
 
    




