body{
    height:1880px;
    width: 1440px;
    margin:auto;
    padding:0px;
    font-family:Raleway, serif;
   
}
.logo {
    float:left;
}


.entete{
    height:113px;                               
    margin-bottom: 16px;
}
#menu{
    float:right;
}
#menu li{
    margin:0 10px;
    font-weight: bold;
    list-style-type:none;                           /* stylisation  du menu de navigation*/    
    color:#0065FC;
    float:left;
    position:relative;
    
}

/* dans la suit:stylisation des liens*/
a:visited{                                              
    color:#0065FC;                                                      
}

#menu a{
    display:inline-block;
    text-decoration:none;

}
#menu li a{
    padding:10px 20px;
}

 .hébé:hover{
    border-top: 1px solid #0065FC;
    
 }
 .acti:hover{
    border-top: 1px solid #0065FC;
 }
 .inscri:hover{
    border-top: 1px solid #0065FC;
 }
 #menu li:hover a{                                                                              
    padding:9px 20px 10px 20px;
 }
 /*fin du com précédent*/
 #recherche{
    height:311px;
 }
 strong{
    font-size:25px;
 }
 #bouton{
    background-color: #0065FC;
    font-family: Raleway, serif;
    font-weight: bold;
    color:white;                                    /*stylisation du bouton*/
    font-size: 20px;
    width:130px;
    height:53px;
    border-radius:0px 10px 10px 0px;
 }
 #maRecherche{
    width:233px;
    height:43px;
    padding-left: 15px;                         /*modification du champ de recherche*/
    border-right:none;
    font-weight: bold;
    font-size: 20px;
 }
 #filtres{
    display:flex;
    width: 1050px;
    justify-content: space-between;
    margin:20px 20px 20px 0px;          
    
 }
 .filtre{
    
    width: 300px;
    font-size: 20px;
    font-weight: bold;
    border-radius:20px;
    border:3px solid #F2F2F2;
    border-left: none;
    margin-right:20px;
    
    
    
 }
.filt{
    margin-top: 10px;
    margin-right: 40px;
    font-size: 20px;
    font-weight: bold;
    
 }
 h2{
  margin-left: 30px;
 }
#hebergements{
    display:flex;
    height:750px;
    margin-bottom: 130px ;
    margin-left: 30px;
    
    
}

#hébé{
    display:flex;
    width:920px;
    flex-wrap: wrap;
    margin:30px 30px 0px 0px;
    
}

#popu{
    display:flex;
    justify-content: center;
    width:345px;
    flex-wrap: wrap;
    margin:30px 30px 0px 0px;
    
}
.imgheb{
     background-color: white;
     height:199px;
     width:236px;
     margin:30px;
     padding:5px;
     border-radius:10px;
     
          
}
#hébé,#acti img{
 border-radius: 5px 5px 0px 0px;
}
#popu img{
 border-radius: 5px 0px 0px 5px;
}
.imgpop{
     
     display:flex;
     align-items: center;
     background-color: white;
     height:144px;
     width:353px;
     margin:30px 30px 25px 40px;
     padding:5px;
     border-radius: 10px;
}
#popu figcaption{
      margin:5px;
}
#hébé figcaption{
     margin:5px;
}

 
 
.fondpage1{
    width: 920px;
    padding:10px;
    background-color: #F2F2F2;
    border-radius: 10px;
    margin:30px 30px 0px 0px;
}
.fondpage{
    width: 420px;
    padding:10px;
    background-color: #F2F2F2;
    border-radius: 10px;
    margin:30px 30px 0px 0px;
}
.aff{
    margin-top:42px;
    margin-left:35px;
}

#activites{
   
    height:560px;
    
    margin-bottom: 57px;
    
}
#acti{
    display:flex;
    height:100%;
    
}
.act{
    height:444px;
    border-radius: 10px;
    box-shadow:5px 5px 5px #F2F2F2;
    margin-right:22px;
    margin-left:22px;
    
 
}
#act2{
    
    height:235px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #F2F2F2;
    margin-bottom: 44px ;
}
#act3{
    height:164px;
    border-radius:10px;
    box-shadow: 5px 5px 5px #F2F2F2;
}
#act4{
    height: 194px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #F2F2F2;
    margin-bottom: 41px;
}
#act5{
    height:209px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #F2F2F2;
}
#acti figcaption{
   margin:5px;
   font-weight: bold;
}



footer{
    width: 1420px;
    background-color: #F2F2F2;
}
#piedpage{
     
    display:flex;
    height:100%;
    margin-left: 50px;
    
    
}

.baspage:nth-child(1){
    flex:1;
}
.baspage:nth-child(2){
    flex:1;
}
.baspage:nth-child(3){
    flex:2;
}
.foot{
    line-height: 2em;
}


/*Icones:*/

.fa-map-marker-alt{
   font-size: 25px;
   height:45px;
   width: 50px;
   border-radius:25% 0 0 25%;
   padding:5px;
   background-color:#F2F2F2;
   text-align: center;
   
   
}
    
 .fa-money-bill-wave {
		font-size: 25px;
		border-radius: 50%;
		padding: 5px;
		background-color:#DEEBFF ;
		color: #0065FC;
	}
 
   .fa-child {
		font-size: 25px;
		border-radius: 50%;
		padding: 5px;
		background-color:#DEEBFF ;
		color: #0065FC;
	}
 
 .fa-heart {
		font-size: 25px;
		border-radius: 50%;
		padding: 5px;
		background-color:#DEEBFF ;
		color: #0065FC;
	}
 
 .fa-dog {
		font-size: 25px;
		border-radius: 50%;
		padding: 5px;
		background-color:#DEEBFF ;
		color: #0065FC;
  
	}
 
   
.fa-info {

		font-size: 12px;
		border-radius: 50%;
		border: 1px solid #F2F2F2;
		padding: 5px;
		color: #0065FC;
  margin-right: 20px;
  margin-left:30px;
	}
 
 .fa-chart-line{
  position:relative;
  top:-43px;
  left:350px;
 }



 
 
 
 
 

 
 
    




